
<table>
  <tr>
    <td>To :</td>
    <td><%= f.text_area :mail_to, :cols => 60, :rows => 2 %></td>
  </tr>
  <tr>
    <td>Subject :</td>
    <td><%= f.text_field :subject, :size => 60 %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.text_area :contents, :cols => 60, :rows => 10 %>
    </td>
  </tr>
</table>