#doc3 {
  width: 1000px;
}

#doc3 #yui-main .yui-b {
  margin-left: 180px;
}

#main_links {
  float: right;
  color: #004080;
  font-size: 13px;
}

#navcontainer { 
  height: 450px;
  border: 1px solid #808080;
  margin-right: 10px;
  padding-bottom: 50px;
}

#navcontainer ul
{
margin-top: 0;
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#navcontainer ul li {
  list-style: none;
}

#content {
  padding-top: 50px;
  height: 450px;
  border: 1px solid #808080;
  background-color: #f8fcff;
}

#footer {
  margin-top: 10px;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 3px;
}

#navcontainer a
{
display: block;
padding: 3px;
width: 160px;
background-color: #f8ecef;
border: 1px solid #cccccc;
}

#navcontainer a:link, #navlist a:visited
{
color: #333333;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #dae0eb;
color: #2f4689;
}

#navcontainer a.current {
background-color: #949494;
color: white;
font-weight: bold;
}

#bd {
  margin-top: 10px;
}

#copyright {
  color: #333333;
  padding-top: 7px;
  padding-left: 5px;
}

#content-top {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #808080;
  height: 30px;
}

#content-bottom {
  margin-left: 9px;
  border: 1px solid #808080;
  top: 545px;
  height: 30px;
  width: 798px;
  position: absolute;
}

#data-select {
  padding-top: 6px;
  padding-left: 5px;
  color: #333333;
  width: 200px;
}

#pagination-left {
  position: relative;
  padding-top: 6px;
  padding-left: 5px;
  color: #333333;

}

#pagination-center {
  position: relative;
  top: -14px;
  padding-left: 5px;
  color: #333333;
}

#content-top a {
  color: #2f4689;
  text-decoration: none;
}

#content-bottom a {
  color: #2f4689;
  text-decoration: none;
}

#data-sort {
  position: relative;
  top: -14px;
  right: 10px;
  color: #333333;
}

#pagination-right {
  position: relative;
  top: -30px;
  right: 10px;
  color: #333333;
}

.message-content {
  margin-left: 10px;
  margin-right: 10px;
  height: 70px;
  border-bottom: 1px dotted black;
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
}

.message-content a {
  text-decoration: none;
  color: #333333;
}

.message-content .subject {
  position: absolute;
  color: #004080;
  left: 105px;
  top: 30px;
}

.message-content .subject:hover {
  text-decoration: underline;
}

.message-content .subject.unread {
  font-weight: bold;
}

.message-content .sender {
  position: absolute;
  left: 105px;
}

.message-content .actions {
  position: absolute;
  top: 53px;
  left: 105px;
}

.message-content .actions a {
  color: #777777;
  padding-right: 10px;
}

.message-content .date {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #777777;
}

#content .bulk-actions {
  font-size: 14px;
  font-family: 'Helvetica';
  position: relative;
  left: 8px;
  top: 10px;
  height: 30px;
}

#content .bulk-actions .delete {
  background: url('../images/small_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 62px;
  display: block;
  text-decoration: none;
}

#content .bulk-actions .delete:hover {
  background: url('../images/small_button-hover.png')  no-repeat;
}

#content .bulk-actions .delete span {
  margin-left: 8px;
  vertical-align: sub;
}

#content .bulk-actions .unread {
  background: url('../images/medium_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 101px;
  position: relative;
  top: -34px;
  left: 60px;
  display: block;
  text-decoration: none;
}

#content .bulk-actions .unread:hover {
  background: url('../images/medium_button-hover.png')  no-repeat;
}

#content .bulk-actions .unread span {
  margin-left: 8px;
  vertical-align: sub;
}

#content .bulk-actions .new_message {
  background: url('../images/big_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 109px;
  position: relative;
  top: -68px;
  left: 695px;
  display: block;
  text-decoration: none;
}

#content .bulk-actions .new_message:hover {
  background: url('../images/big_button-hover.png')  no-repeat;
}

#content .bulk-actions .new_message span {
  margin-left: 8px;
  vertical-align: sub;
}

#user_info {
  font-weight: bold;
}

#content .new-mail-actions {
  font-size: 14px;
  font-family: 'Helvetica';
  position: relative;
  left: 8px;
  top: -30px;
  height: 30px;
}

#content .new-mail-actions .send {
  background: url('../images/small_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 62px;
  display: block;
  text-decoration: none;
}

#content .new-mail-actions .send:hover {
  background: url('../images/small_button-hover.png')  no-repeat;
}

#content .new-mail-actions .send span {
  margin-left: 12px;
  vertical-align: sub;
}

#content .new-mail-actions .cancel {
  background: url('../images/small_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 62px;
  display: block;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: -34px;
}

#content .new-mail-actions .cancel:hover {
  background: url('../images/small_button-hover.png')  no-repeat;
}

#content .new-mail-actions .cancel span {
  margin-left: 8px;
  vertical-align: sub;
}

#content .new-mail-head {
  border: 1px solid #808080;
  background-color: #f2f2f2;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -20px;
  height: 75px;
  position: relative;
}

#content textarea {
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 793px;
    height: 300px;
}

#content .new-mail-head label {
    font-weight: bold;
}

#content .new-mail-head span.to {
    position: absolute;
    left: 70px;
    top: 12px;
}

#content .new-mail-head span.subject {
    position: absolute;
    left: 39px;
    top: 43px;
}

#content .new-mail-head input {
    height: 20px;
    width: 500px;
}

#content .new-mail-head .error_to {
    position: absolute;
    left: 605px;
    top: 12px;
    height: 26px;
    width: 183px;
}

#content .new-mail-head .error_to span {
    position: absolute;
    left: 27px;
    top: 5px;
    width: 183px;
    color: #990000;
}

#content .new-mail-head .error_subject {
    position: absolute;
    left: 605px;
    top: 42px;
    height: 26px;
    width: 183px;
}

#content .new-mail-head .error_subject span {
    position: absolute;
    left: 27px;
    top: 5px;
    width: 183px;
    color: #990000;
}

#content .show-mail-actions {
  font-size: 14px;
  font-family: 'Helvetica';
  position: relative;
  left: 8px;
  top: -30px;
  height: 30px;
}

#content .show-mail-actions .reply {
  background: url('../images/round_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 69px;
  display: block;
  text-decoration: none;
}

#content .show-mail-actions .reply:hover {
  background: url('../images/round_button-hover.png')  no-repeat;
}

#content .show-mail-actions .reply span {
  margin-left: 15px;
  vertical-align: sub;
}

#content .show-mail-actions .forward {
  background: url('../images/round_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 69px;
  display: block;
  text-decoration: none;
  position: relative;
  left: 65px;
  top: -34px;
}

#content .show-mail-actions .forward:hover {
  background: url('../images/round_button-hover.png')  no-repeat;
}

#content .show-mail-actions .forward span {
  margin-left: 7px;
  vertical-align: sub;
}

#content .show-mail-actions .delete {
  background: url('../images/round_button.png')  no-repeat;
  color: #AE5300;
  height: 34px;
  width: 69px;
  display: block;
  text-decoration: none;
  position: relative;
  left: 130px;
  top: -68px;
}

#content .show-mail-actions .delete:hover {
  background: url('../images/round_button-hover.png')  no-repeat;
}

#content .show-mail-actions .delete span {
  margin-left: 13px;
  vertical-align: sub;
}

#content .show-mail-head {
  border: 1px solid #808080;
  background-color: #f2f2f2;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -20px;
  height: 120px;
  position: relative;
}

#content .show-mail-head img {
  position: absolute;
  left: 10px;
  top: 45px;
}

#content .show-mail-head .subject {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    top: 8px;
    left: 13px;
}

#content .show-mail-head .sender {
    position: absolute;
    color: #333333;
    top: 45px;
    left: 85px;
}

#content .show-mail-head .to {
    position: absolute;
    color: #333333;
    top: 65px;
    left: 85px;
}

#content .show-mail-head .date {
    position: absolute;
    color: #333333;
    top: 85px;
    left: 85px;
}

#content .show-mail-head textarea {
    width: auto;
    margin-left: -2px;
    margin-top: 130px;
    margin-right: 10px;
    width: 793px;
    height: 250px;
}
